.agentLoginbutton {
    text-align: center;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: normal;
    font-color: #FFFFFF;
    background-color: #FF9900;
    border-radius: 6px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.agentLogin {
    background: #000000;
    border: 4px solid #F00;
    align: center;
    width: 600px;
    height: 300px;
    padding-top: 50px;
}
#center {
    background: #0C0C0C;
    valign: center;
}
#agentLoginText {
    color: #00FFFF;
    align: center;
    font-size: 30px;
    text-align: center;
}
#agentLoginDiv {
    halign: center;
    font-size: 30px;
    text-align: center;
}
#agentLogin {
    halign: center;
}
#agentPasswordText {
    color: #00FFFF;
    align: center;
    font-size: 30px;
    text-align: center;
}
#agentPasswordDiv {
    align: center;
    font-size: 30px;
    text-align: center;
}
.clear {
    clear: both;
}
#beginButtonDiv {
    padding-top: 20px;
    halign: center;
    text-align: center;
}
